{% extends 'base.html' %}

{% block head %}
<title>Zelda Breath of the Wild Guide</title>
<body background="https://images.app.goo.gl/pU5W8WZSqL1UBtmVA">
<center>
    <h1>Welcome to the website</h1>
</center>



{% endblock %}

{% block body %}

<center>
    <p>feel free to click for links you want to know</p>
    <img src="https://botw-compendium.herokuapp.com/api/v2/entry/123/image" width="280" height="280">
    <a href="https://www.zeldadungeon.net/wiki/Silver_Lynel">
        <p>Silver Lynel</p>
    </a>

    <img src="https://botw-compendium.herokuapp.com/api/v2/entry/126/image" width="280" height="280">
    <a href="https://www.zeldadungeon.net/wiki/Guardian_Skywatcher">
        <p>Gardian Skywather</p>
    </a>

    <img src="https://botw-compendium.herokuapp.com/api/v2/entry/110/image" width="280" height="280">
    <a href="https://www.zeldadungeon.net/wiki/Black_Moblin">
        <p>Black Moblin</p>
    </a>
</center>


{% endblock %}